@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');


/*Globales*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #000;
    scroll-behavior: smooth;
}

.hero-index {
    padding: 3.9rem 0;
    overflow: hidden;
}
  */
img {
    width: 100%;
    max-width: 100%;
    border-radius: .6rem;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
    text-align: center;
}
  */
.container {
    width: 100%;
    max-width: 122.5rem;
    margin:  0 auto;
    padding: 0 2.4rem;
}

/*Header*/
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.8), transparent);
}
.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: #252525;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
   
}


.logo {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.nav-item {
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}

.nav-link {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
}

.nav-link:hover {
    color: #3bcc75;
}

/*Hero*/

.hero-index{
    width: 100%;
    height: 60vh;
    background: url("../images/hero4.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.banner-index{
    width: 100%;
    height: 60vh;
    margin: 50px auto;
    background: url("../images/restaurant-Barra.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}
.banner-index2{
    width: 100%;
    height: 60vh;
    margin: 50px auto;
    background: url("../images/mesa-hambu.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.h2-sub {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: #3bcc75;
    font-weight: 600;
    line-height: .4;
}

.fil {
    text-transform: uppercase;
    font-size: 3rem;
}

.head {
    color: #fff;
    font-size: 3.7rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
}

.circle {
    font-size: 1.5rem;
    color: #3bcc75;
    margin: 0 1.6rem;
}

.he-des h3{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;    
}

.he-des h5 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    margin: auto;
}

.cta-btn {
    font-size: 1.1rem;
    background-color: #ffc845;
    padding: 1.5rem 3rem;
    color: #fff;
    border-radius: .4rem;
}
.cta-btn:hover,
.cta-btn:focus {
    color: #fff;
    background-color: #3bcc75;
}


.global {
    justify-content: center;
    text-align: center;

}

.dis-sto .global {
    margin-top: 6.9rem;
}

.global .circle {
    color: #3bcc75;
    margin: 2.4rem 0;
}

.hea-dark {
    color: #252525;
    letter-spacing: .7rem;
    margin-right: -.7rem;
}

.global .h2-sub {
    letter-spacing: -1px;
    line-height: .42;
    margin-top: 10px;
}

.res-info {
    text-align: center;
}

.res-des {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.res-des p {
    line-height: 1.6;
    margin-bottom: 2.4rem
}

.card{
    margin: 50px auto;
    width: 70%;
    
}

/*footer*/
footer {
    padding: 7.9rem 0;
    background-color: #121212;
    color: #fff;
    text-align: center;
    position: relative;
}

.footer-content {
    overflow: hidden;
}

.footer-content h4 {
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.footer-content .circle{
    margin: 2.4rem 0;
}

.footer-content-about {
    margin-bottom: 5.4rem;
}

.footer-content-about p {
    line-height: 2;
}

.social-icons {
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}

.social-icons i {
    font-size: 2rem;
    color: #3bcc75;
    padding: .8rem 2rem;
    
}

.social-icons i:hover,
.social-icons i:focus {
    color: #ffc845;
}

.iframe{
    justify-content: center;
}

.submit{
    border-radius: 5px;
}



/*Contactos html*/




.form-btn{
    background-color: #f7aa03;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;  
    justify-content: space-around;
    margin: 5px;
}

.form-btn:hover,
.form-btn:focus {
    color: #fff;
    background-color: #3bc7cc;
}

.form-btn{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.1rem;
    padding: 1.5rem 3rem;
    color: #fff;
    border-radius: .3rem;
    justify-content: space-between;
}

.form p{
    color: #ffffff;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
    
}
/* CONTACTOS */

.img-group-events{
    display: block;
}



/* Nosotros */
/* efecto evento */
.card figure video {
	-webkit-filter: blur(3px);
	filter: blur(3px);
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.card figure:hover video {
	-webkit-filter: blur(0);
	filter: blur(0);
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

video{
    width: 80%;
}


.btn-outline-new-white:hover {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
} 
.cover-slides h1 {
    font-family: 'Rubik',sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: #fff;
}
.cover-slides p {
    font-size: 18px;
    color: #fff;
}
.slides-navigation a {
    border: 2px solid #ffffff;
}
.slides-navigation a.current {
    background: #3bcc75;
    border: 2px solid #3bcc75;
}

 End Slides Section*/

/* ========= Galeria index ===========*/
.gallery-box {
    width: 50%;
    margin: 50px auto;
}
.tz-gallery {
    width: 50%;
    margin: 50px auto;
}   
.tz-gallery .lightbox img {
    width: 100%;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.tz-gallery .lightbox img:hover {
    transform: scale(1);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
} 
.tz-gallery .lightbox {
    border: 3px solid #3bcc75;
    display: inline-block;
    margin-bottom: 30px;
}


/* Galeria */

.grid-area-galeria{
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "section1 section1 section1"
    "section2 section2 section2"

    "footer footer footer";
}
.nav{
    grid-area: nav;
}
.hero-index{
    grid-area: section1;
}
.text-galery{
    grid-area: section2;
}
.footer{
    grid-area: footer;
}
