@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap");
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #000;
    scroll-behavior: smooth;
}

.hero-index {
    padding: 3.9rem 0;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%;
    border-radius: .6rem;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    
    
    
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin:  0 auto;
    padding: 0 2.4rem;
}

/*Hero*/


.hero-index{
    width: 100%;
    height: 60vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(41, 40, 40, 0.39)), url("../images/DSC07095.jpg") center no-repeat;
    background-size: cover;
    color: Linear;
    align-items: center;
    @include flex(flex, center);
}

.banner-index{
    width: 100%;
    height: 60vh;
    margin: 50px auto;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(41, 40, 40, 0.39)), url("../images/restaurant-Barra.jpg") center no-repeat;
    background-size: cover;
    align-items: center;
    @include flex(flex, center);

}
.banner-index2{
    width: 100%;
    height: 60vh;
    margin: 50px auto;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(41, 40, 40, 0.39)), url("../images/mesa-hambu.jpg") center no-repeat;
    background-size: cover;
    align-items: center;
    @include flex(flex, center);
}


.fil {
    text-transform: uppercase;
    font-size: 3rem;
}

.head {
    color: #fff;
    font-size: 3.7rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
}

.circle {
    font-size: 1.5rem;
    color: #3bcc75;
    margin: 0 1.6rem;
}

.he-des h3{
    color: #fff ;
    font-size: 2.5rem;
    font-weight: 150;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;    
}

.he-des h5 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    margin: auto;
}

.cta-btn {
    font-size: 1.1rem;
    background-color: map-get($Color-botones, color-primary);
    padding: 1.5rem 3rem;
    color: #fff;
    border-radius: .4rem;
}
.cta-btn:hover,
.cta-btn:focus {
    color: #fff;
    background-color: map-get($Color-botones, Color-secondary);
}


.global {
    justify-content: center;
    text-align: center;

}

.dis-sto .global {
    margin-top: 6.9rem;
}

.global .circle {
    color: $Color-secondary;
    margin: 2.4rem 0;
}



.global .h1-sub {
    letter-spacing: -1px;
    line-height: .42;
    margin-top: 10px;
}

.res-info {
    text-align: center;
}

.res-des {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.res-des p {
    line-height: 1.6;
    margin-bottom: 2.4rem
}

.card{
    margin: 50px auto;
    width: 70%;
    
}


/* CONTACTOS */

.form-horizontal{
    box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.5), 0 20px 32px 0 rgba(0, 0, 0, 0.50);
}


.img-group-events{
    display: block;
}

legend{
    margin: 8px;
}

label{
    margin: 2px;
    padding: 0px;
    font-size: 1.2rem;
}

option{
    font-size: 1.1rem;
}

select{
    margin: 2px;
    padding: 0px;
}


/* Nosotros */

.card figure video {
	-webkit-filter: blur(3px);
	filter: blur(3px);
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.card figure:hover video {
	-webkit-filter: blur(0);
	filter: blur(0);
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

video{
    width: 80%;
}



.tz-gallery {
    width: 50%;
    margin: 50px auto;
}   
.tz-gallery .lightbox img {
    width: 100%;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.tz-gallery .lightbox img:hover {
    transform: scale(1);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
} 
.tz-gallery .lightbox {
    border: 3px solid $Color-secondary;
    display: inline-block;
    margin-bottom: 30px;
}



