header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.8), transparent);

    .navbar {
        height: 7.2rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .nav-item {
            border-bottom: 2px solid rgba(255, 255, 255, .3);
            .nav-link {
                display: block;
                color: #fff;
                text-transform: uppercase;
                font-size: 1.6rem;
                letter-spacing: 2px;
                margin-right: -2px;
                background-color: #212428;
                &:hover {
                    color: map-get($Color-botones, Color-secondary);
                }
            }
            
        }
        
        
    }
}


